li{
    height:60px;
    margin: 1px 0px 0px 0px;
    border-radius: 3px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

.div1{
    display: flex;
    justify-content: space-between;
    margin:1px 1px 1px 1px;
    font-size: 15px;
}

li:nth-child(odd){
    background-color:black;
    color:white;
  }

.del{
    height:25px;
    border: none;
    border-radius: 60%;
}

span{
    margin: 3px 0px  0px 2px;
}