.main-div{
   
    height:100px;
    margin-top: 5px; 
    display: flex;
}

.child{
    
    height:100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 40px;
}
